.App {
  text-align: center;
}

.frame{
  display: flex;
  justify-content: center;
  border: 2px solid black;
  width: 5%;
  
}
.main{
  width: 40%;
  height: 90vh;
  margin: auto;
  padding:20px;
  background-color: honeydew;
  border:1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.time-main{
  width: 300px;
  display: flex;
  justify-content:space-around;
  align-items: center;
  background: chartreuse;
  border-radius: 20px;
}
p{
  font-size: 1.5rem;
  background: tomato;
  border-radius: 25px;
  padding: 5px;
}
.timer{
  width: 100px;
  border: 1px solid black;
  text-align: center;
  background: yellow;
  font-size: 2rem;
  border-radius: 50%;
}
.input-field{
  height: 40px;
  font-size: 2rem;
  margin-top: 20px;
  border-radius: 25px;
  padding:5px 20px;
  background: yellow;
  outline: none;
  
}

.btn{
  background: #222;
  height: 30px;
  min-width: 100px;
  border: none;
  border-radius: 10px;
  color: #eee;
  font-size: 20px;
  cursor: pointer;
  
}
.heading{
  color: rgb(240, 61, 16);
  border: 2px solid black;
  padding: 10px;
  border-radius: 20px;
}